<h4>Update your profile</h4>

    <%= form_for(@account, url: accounts_update_profile_path) do |f| %>
      <%= render 'devise/shared/error_messages', object: f.object %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-small btn-success" %>
    <% end %>
