<% if notice != nil %>
	<p id="notice"><%= notice %></p>
<% end %>


<!-- <div class="center"> <h1>My Incidents</h1> </div> -->

<h1>My Incidents</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Incident number</th>
      <th>Subject</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
		<td><%= link_to incident.incident_number, incident  %></td>
        <td><%= incident.subject %></td>
        <td><%= incident.status %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path, class: "btn btn-small btn-success" %>
